#buscador {
	height: 50px;
	width: 100%;
	display: flex;
	position: relative;
}
#buscador .inputbuscar {
	height: 100%;
	width: 100%;
	padding: 0 50px 0 10px;
	outline: none;
	background-color: #ddd;
	border-radius: 18px;
	border: none;
	font-family: times new roman, serif;
	font-size: 1.7em;
}
#buscador button.botonBuscar {
	background-color: white;
	height: 100%;
	border: none;
	padding: 10px;
	margin-left: 10px;
	cursor: pointer;
	position: absolute;
	right: 0;
	background: none;
}
.isotipo {
	width: 30px;
	height: 30px;
}