#buscador .contenedor {
	height: 50px;
	width: 100%;
	display: flex;
}
#buscador .contenedor .inputbuscar {
	height: 100%;
	width: 100%;
	padding: 0 10px;
}
#buscador .contenedor .botonBuscar {
	background-color: #673AB7;
	color: white;
	height: 100%;
	border: none;
	padding: 10px;
	margin-left: 10px;
	cursor: pointer;
}
#buscador .contenedor .botonBuscar:hover {
	background-color: #502799;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
#buscador .significado .definicion {
	margin-top: 10px;
	letter-spacing: 0.05em;
}