/* AUDIO */
.audio {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.palabraBuscada {
	font-weight: 400;
	font-size: 2.8em;
	text-transform: capitalize;
}
.ladoAudio {
	display: flex;
	justify-content: flex-end;
}
.ladoAudio .botonReproduceAudio {
	background-color: transparent;
	border: none;
	margin: 20px 0 0 0;
	cursor: pointer;
}
.ladoAudio .botonReproduceAudio > img {
	width: 50px;
}
.ladoAudio audio {
	display: none;
}

/* DEFINICIONES */
.definiciones {
	margin-top: 20px;
	letter-spacing: 0.05em;
}
.definiciones ul {
	list-style: none; /* Remove default bullets */
}
.definiciones ul li {
	margin-bottom: 20px;
	position: relative;
	margin-left: 15px;
	line-height: 1.4em;
}
.definiciones ul li::before {
	content: "\2022";
	color: var( --morado );
	font-weight: bold;
	display: inline-block;
	width: 1em;
	position: absolute;
	left: -15px;
}

/* SINONIMOS */
.sinonimos {
	margin-bottom: 20px;
}
.sinonimos > p {
	font-size: .9em;
}
.sinonimos > p > span {
	color: var(--morado)
}
.sinonimos > p > span:first-of-type {
	margin-left: 20px;
}
.sinonimos > p > span::after {
	content:", ";
}
.sinonimos > p > span:last-of-type::after {
	content:"";
}

/* SOURCE */
.source {
	margin-top: 40px;
}
.source > span {
	height: 1px;
	width: 100%;
	background-color: #444;
	display: block;
}
.source > p {
	margin-top: 15px;
}
.source > p > a {
	font-size: 0.9em;
	display: flex;
	margin-top: 10px;
}
.source > p > a > span {
	width: 20px;
	height: 20px;
	display: block;
	margin-left: 10px;
}